[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[pipenv]
allow_prereleases = true

[dev-packages]
flake8 = "*"
bandit = "*"
pylint = "*"
isort  = "*"
black = "*"
mypy = "*"

[requires]
python_version = "3"

[packages]
click = "*"
